<?php
$this->headTitle('About');

$this->mainMenu()->setActiveItemId('about');

?>

<h1>About</h1>

<p>
    MK Test application
</p>

<p>
    Task specification:
    <ul>
        <li>Вывод данных из таблицы test_tbl (id int(11), name varchar(100))</li>
        <li>Вывести запись по коду id </li>
        <li>Разработать модель данных</li>
        <li>Использовать Factory</li>
        <li>Использовать Doctrina</li>
    </ul>
</p>


