<?php
$this->headTitle('Items');
$this->mainMenu()->setActiveItemId('home');

$form = $this->form;
$form->get('item_id')->setAttributes([
    'class'=>'form-control',
    'placeholder'=>'Find item by id'
]);
$form->get('submit')->setAttributes(['class'=>'btn btn-primary']);
$form->prepare();
?>

<h1>Items</h1>

<div class="row">
    <div class="col-md-6">
        <?= $this->form()->openTag($form); ?>

        <div class="form-group">
            <?= $this->formLabel($form->get('item_id')); ?>
            <?= $this->formElement($form->get('item_id')); ?>
            <?= $this->formElementErrors($form->get('item_id')); ?>
        </div>

        <?= $this->formElement($form->get('submit')); ?>

        <?= $this->form()->closeTag(); ?>
    </div>
</div>

<div class="row">

    <div class="col-md-8">

        <?php foreach($tests as $item): ?>

            <h3>
                <a href="<?= $this->url('items', ['action'=>'view', 'id'=>$item->getId()]); ?>">
                    <?= $this->escapeHtml($item->getName()); ?>
                </a>
            </h3>

        <?php endforeach; ?>

        <?= $this->paginationControl($tests,
            'Sliding',
            'application/partial/paginator',
            array('route' => 'application')); ?>

    </div>

</div>


