<?php
$this->headTitle('View Item - ' . $item->getName());
?>

<a href="
    <?= $this->url('application', ['action'=>'index']); ?>">
    &lt;&lt; Back to list of items
</a>

<h1>
    <?= $this->escapeHtml($item->getName()); ?>
</h1>